@font-face {
    font-family: "Unbounded";
    src: url("./fonts/Unbounded-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(3deg, #000000 45%, #2B124C 100%) fixed;
}

/*  HEADER  */

.cabecalho {
    font-family: "Unbounded", sans-serif;
}

.cabecalhoNav {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 4rem; 
    margin: 0 0 6rem 0;
}

.cabecalhoNavMenu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.cabecalhoNavMenu li a {
    color: #e0dede;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}

.cabecalhoNavMenu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background-color: #743283;
    transition: width 0.3s ease;
}

.cabecalhoNavMenu a:hover::after {
    width: 100%;
}

/*  MAIN  */

.principal {
    margin: 0 4rem 6rem;
}

.sectionApresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
}

/* APRESENTAÇÃO  */

.principalApresentacao {
    font-family: "Unbounded", sans-serif;
    color: #fff;
}

.apresentacaoBotao {
    font-size: 12px;
    color: #743283;
    font-weight: 600;
    border: 1px solid #743283;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 34px;
}

.apresentacaoTituloPrincipal {
    font-size: 64px;
    margin: 14px 0;
    font-weight: 800;
    width: 557px; 
    max-width: 100%;
}

.apresentacaoTituloPrincipal strong {
    background: linear-gradient(90deg, #743283, #2B124C, #341653);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.apresentacaoDescricaoDest {
    font-size: 18px;
    color: #fff;
}

.apresentacaoDescricao {
    font-size: 18px;
    color: #94a3b8ca;
    width: 700px;
    max-width: 100%;
    line-height: 1.1;
}

.apresentacaoDescricao strong {
    color: #743283;
    font-weight: 600;
    display: inline-block;
    animation: respirar 1s infinite;
}

@keyframes respirar {
    0%, 100% { transform: scale(1); }
    50%       { transform: scale(1.02); }
}

/* REDES SOCIAIS */

.divRedesSociais {
    display: flex;
    gap: 14px;
    margin: 20px 0;
}

.social-icon {
    background-color: #46464655;
    border: 1px solid #464646;
    border-radius: 10px;
    padding: 9px;
}

.social-icon:hover {
    border-color: #743283;
    transition: 0.3s;
}

.social-icon i {
    color: #fff;
    font-size: 18px;
}

.social-icon:hover i {
    color: #743283;
    transition: 0.3s;
}

/* BOTÕES */

.divBotoes {
    font-family: "Unbounded", sans-serif;
    font-size: 14px;
    font-weight: 750;
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.divBotoes i {
    margin-right: 8px;
    color: #94A3B8;
}

.divBotoesCtt {
    background: linear-gradient(90deg, #743283, #341653, #2B124C);
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.divBotoesCtt:hover {
    background: #743283;
    transition: 0.4s;
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
}

.divBotoesBaixar {
    background: #46464655;
    border: 1px solid #464646;
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.divBotoesBaixar:hover {
    background: #66666655;
    border-color: #743283;
    transition: 0.4s;
}

/* CODE WINDOW */

.code-window {
    width: 100%;
    max-width: 500px;
    background-color: #070707;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(124, 58, 237, 0.138);
    font-family: 'Fira Code', monospace;
}

.code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px;
    background-color: #120d0d;
    border-bottom: 1px solid #1f1f35;
}

.dots {
    display: flex;
    gap: 8px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.roxoPrincipal    { background: #2B124C; }
.roxoSecundario { background: #341653; }
.roxoTerceario  { background: #743283; }

.file-name {
    font-size: 0.85rem;
    color: #888;
}

.code-body {
    padding: 2rem 5rem;
    font-size: 0.9rem;
    line-height: 1.6;
    color: #e2e8f0;
}

.keyword { color: #743283; }
.string  { color: #9e356b; }
.boolean { color: #743283; }

/* SEÇÃO SOBRE MIM */

.secaoTituloConteudo h2 {
    font-family: "Unbounded", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
}

/* TITULOS */

.techStackLabel {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    margin-bottom: 15px;
}

.techStackLinha {
    flex: 0.05;
    height: 1px;
    background-color: #743283;
    opacity: 0.6;
    width: 1%;
}

.techStackLabelTexto {
    font-family: "Unbounded", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #341653;
    letter-spacing: 4px;
    white-space: nowrap;
}

.techStackTitulo {
    font-family: "Unbounded", sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    margin: 15px 0;
    text-align: center;

}

.techStackBranco {
    color: #e0dede;
}

.techStackDestaque {
    background: linear-gradient(180deg, #34165379 0%, #743283d0 60%, #2B124C 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.secaoSub{
    font-family: "Unbounded", sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8rem;
    justify-content: center;
    margin: 10rem auto;
}

.secaoSubDescricao{
    width: 100%;
    max-width: 700px;
}

.secaoSubTitulo{
    color: #fff;
    font-size: 30px;
}

.secaoSubTitulo strong{
    color: #743283;
}

.secaoSubParagrafos{
    color: #94a3b8ca;
    margin-top: 10px;
    line-height: 1.6;
    margin: 25px 0;
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.secaoSubInformacoes{
    color: #fff;
    line-height: 1.6;
    letter-spacing: 0.10em;
}

.secaoSubInformacoes li{
    list-style: none;
}

.secaoSubInformacoes span{
    color: #743283;
}

.secaoSubBtn{
    margin-top: 32px;
}

.secaoSubInformacoes a{
    font-family: "Unbounded", sans-serif;
    font-size: 14px;
    font-weight: 750;
    background: linear-gradient(90deg, #743283, #341653, #2B124C);
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.secaoSubInformacoes a:hover{
    background: #743283;
    transition: 0.4s;
}

.secaoLinhaInfor{
    width: 85%;
    height: 1px;
    background: #94a3b827;
    border-radius: 2px;
    margin: 3px 0 14px 0;
}

.secaoSubImagem {
    width: 100%;
    max-width: 444px;
    padding: 18px;
    background: rgba(148, 163, 184, 0.027);
    border: 1.5px solid rgba(148, 163, 184, 0.12);
    border-radius: 22px;
}

.secaoSubImagem img {
    width: 100%;
}

/* ----- QUALIFICAÇÕES ----- */

.sectionExperiencia{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem auto;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;
    padding: 20px 0;
    margin-bottom: 25px;
}

/* Linha vertical central */
.timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: linear-gradient(180deg, #74328361, #2B124C);
    transform: translateX(-50%);
}

/* ITEM */
.timelineItem {
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
    align-items: center;
    gap: 20px;
    position: relative;
}

/*  ÍCONE CENTRAL */
.timelineIcone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #1a0a0a;
    border: 2px solid #7432839a;
    border-radius: 10px;
    z-index: 1;
    justify-self: center;
}

.timelineIcone i {
    color: #743283;
    font-size: 16px;
}

/*  CARD  */
.timelineCard {
    background-color: #0d0d0d89;
    border: 1px solid #2b124c60;
    border-radius: 14px;
    padding: 24px;
}

.timelineCard img {
    border-radius: 25px;
    box-shadow: 0 0 40px rgba(124, 58, 237, 0.232);
}

.timelineCard:hover{
    box-shadow: 0 0 20px rgba(124, 58, 237, 0.208);
    transition: 0.3s;
    background-color: #36353539;
}

.timelineCardTitulo {
    font-family: "Unbounded", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 6px;
}

.timelineCardEmpresa {
    font-family: "Unbounded", sans-serif;
    font-size: 16px;
    color: #743283;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.timelineCardEmpresaInfo {
    color: #fff;
    font-family: "Unbounded", sans-serif;
    font-size: 12px;
    font-weight: regular;
}

/*  DATA */
.timelineData {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    color: #94A3B8;
    background-color: #170a1a3d;
    border: 1px solid #170a1a;
    border-radius: 20px;
    padding: 6px 14px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
}

.timelineData i {
    color: #743283;
}

/* ----- DIREITA: [data] [ícone] [card] ----- */
.timelineItem.direita .timelineCard  { grid-column: 3; grid-row: 1; }
.timelineItem.direita .timelineIcone { grid-column: 2; grid-row: 1; }
.timelineItem.direita .timelineData  {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
}

/* ----- ESQUERDA: [card] [ícone] [data] ----- */
.timelineItem.esquerda .timelineCard  { grid-column: 1; grid-row: 1; }
.timelineItem.esquerda .timelineIcone { grid-column: 2; grid-row: 1; }
.timelineItem.esquerda .timelineData  {
    grid-column: 3;
    grid-row: 1;
    justify-self: start;
}

.timelineCardLista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.timelineCardLista li {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #94A3B8;
    padding-left: 16px;
    position: relative;
}

/* Seta › em cada item da lista */
.timelineCardLista li::before {
    content: "›";
    position: absolute;
    left: 0;
    color: #743283;
    font-size: 16px;
    line-height: 1;
}

/*----- PROJETOS -----*/

.sectionProjetos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetosTech{
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
    font-family: "Unbounded", sans-serif;
}

.projetosTech h3{
    color: #fff;
    font-size: 20px;
}

.projetosTech p{
    color: #94a3b892;
    font-size: 14px;
}

.projetoUni{
    background: #4e51540f;
    display: flex;
    flex-direction: column;
    gap: 5px;
    letter-spacing: 1px;
    border: 1px solid #94a3b829;
    border-radius: 25px;
    width: 100%;
}

.projetoUni:hover{
    border-color: #743283;
    transition: 0.3s;
    background-color: #4e515425;
}

.projDescricao{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 16px;
}

.projBadge{
    display: flex;
    gap: 15px;
    padding: 10px 16px;
    color: #94a3b892;
    display: flex;
}

.projBadge span{
    background-color: #4646461c;
    border: 1px solid #4646464c;
    border-radius: 9px;
    color: #94a3b892;
    padding: 8px 8px;
    border-radius: 6px;
    font-size: 12px;
}

.btnVisit{
    background: #4646461c;
    border: 1px solid #4646464c;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 0 auto 16px 16px;
}   

.btnVisit:hover{
    background: #743283;
    transition: 0.4s;
}

.btnVisit a{
    color: #fff;
    font-family: "Unbounded", sans-serif;
    font-size: 14px;
    font-weight: 750;
    text-decoration: none;
}

.btnVisit i{
    padding-left: 6px;
}

/* RESPONSIVIDADE — TABLET */

@media (max-width: 1024px) {
    .cabecalhoNav {
        padding: 1.5rem 2rem;
        margin-bottom: 4rem;
    }

    .principal {
        margin: 0 2rem 4rem;
    }

    .sectionApresentacao {
        gap: 2rem;
    }

    .apresentacaoTituloPrincipal {
        font-size: 38px;
        width: 100%;
    }

    .apresentacaoDescricao {
        width: 100%;
    }

    .code-body {
        padding: 1.5rem 2rem;
    }

    .projetosTech{
        flex-direction: column;
        align-items: center;
    }

    .projetoUni{
        max-width: 900px;
    }
}

/* RESPONSIVIDADE — MOBILE (768px) */

@media (max-width: 768px) {
    .cabecalhoNav {
        justify-content: center;
        padding: 1.2rem 1rem;
        margin-bottom: 2.5rem;
    }

    .cabecalhoNavMenu {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
    }

    .cabecalhoNavMenu li a {
        font-size: 14px;
    }

    .principal {
        margin: 0 1.5rem 4rem;
    }

    .sectionApresentacao {
        flex-direction: column;
        gap: 2.5rem;
    }

    .apresentacaoTituloPrincipal {
        font-size: 30px;
        width: 100%;
        line-height: 1.3;
    }

    .apresentacaoDescricaoDest {
        font-size: 16px;
    }

    .apresentacaoDescricao {
        font-size: 16px;
        width: 100%;
    }

    .divBotoes {
        width: 70%;
    }

    .divBotoesCtt,
    .divBotoesBaixar {
        text-align: center;
        width: 100%;
        padding: 14px 16px;
        font-size: 13px;
    }

    .code-window {
        max-width: 100%;
    }

    .code-body {
        padding: 1.2rem 1.5rem;
        font-size: 0.8rem;
    }

    .secaoSub{
        flex-direction: column;
        gap: 2rem;
        margin: 5rem auto;
    }

    .secaoSub h2{
        font-size: 24px;
    }

    .secaoSubImagem {
        width: 50%;
    }

    .timelineCard img{
        width: 100%;
    }

}

/* RESPONSIVIDADE — MOBILE PEQUENO (480px) */

@media (max-width: 480px) {
    .cabecalhoNavMenu {
        gap: 10px;
    }

    .cabecalhoNavMenu li a {
        font-size: 12px;
    }

    .apresentacaoBotao {
        font-size: 10px;
    }

    .apresentacaoTituloPrincipal {
        font-size: 24px;
    }

    .apresentacaoDescricaoDest,
    .apresentacaoDescricao {
        font-size: 16px;
    }

    .code-body {
        padding: 1rem;
        font-size: 0.75rem;
    }

    .sectionApresentacao {
        align-items: center;
    }

    .codeApresentacao {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .code-window {
        width: 100%;
        max-width: 360px;
    }

    .secaoSubInformacoes{
        font-size: 14px;
    }

    .techStackTitulo {
        font-size: 22px;
    }

    .techStackLabelTexto {
        font-size: 12px;
    }

    .timeline{
        width: 100%;
        gap: 40px;
    }

    .timelineData{
        font-size: 9px;
    }

    .timelineItem{
        display: flex;
        flex-wrap: wrap;
    }

    .timelineIcone, .timeline::before{
        display: none;
    }

    .projetoUni{
        max-width: 400px;
    }

}

